@model Banner

<!--!--!--section Banner--!--!--!-->
<section id="banner" class=" section-banner allpages ">
    <span class="animation animation-1">
        <img src="~/assets/images/animations/shape-1.png" alt="">
    </span>
    <span class="animation animation-2">
        <img src="~/assets/images/animations/shape-2.png" alt="">
    </span>
    <span class="animation animation-3">
        <img src="~/assets/images/animations/shape-3.png" alt="">
    </span>
    <span class="animation animation-4">
        <img src="~/assets/images/animations/shape-4.png" alt="">
    </span>

    <div class="container banner-title d-flex justify-content-center">
        <div class="row">
            <div class=" col-lg-12 intro d-flex flex-column justify-content-center">
                <h1 class="header">@Model.Title</h1>
            </div>
        </div>
    </div>
</section>
