@model Advice

@{
    ViewData["Title"] = "AdviceDetail";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


@{
    if (TempData["AdviceError"] != null)
    {
        <div class="alert alert-success">
            <p class="text-danger">@(TempData["AdviceError"] as string)</p>
        </div>
        TempData["AdviceError"] = null;
    }
}



<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <h1 class="card-title" style="color:darkred">Advice</h1>
                            <p class="form-label">@Html.Raw(Model.Content)</p>
                        </div>
                        <a class="btn btn-success" asp-area="admin" asp-controller="Advice" asp-action="Update" asp-route-id="@Model.Id">Update</a>
                        <a class="btn btn-danger" asp-area="admin" asp-controller="Advice" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Silinməsinə əminsənmi?')">Delete</a>
                        <a class="btn btn-secondary" asp-area="admin" asp-controller="Advice" asp-action="Index"> Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


